{% extends 'base.html' %}

{% block title %}Question{% endblock %}

{% block heading %}{{ survey.title }}{% endblock %}
<h1>{{ survey.title }}</h1>
{% block content %}
<form action="{{ url_for('survey', survey_name=survey_name, question_index=question_index) }}" method="POST">
  <h2>{{ question.question }}</h2>
  {% if question.choices %}
    {% for choice in question.choices %}
      <input type="radio" name="response" value="{{ choice }}"> {{ choice }}<br>
    {% endfor %}
  {% else %}
    <input type="text" name="response"><br>
  {% endif %}
  <button type="submit">Next</button>
</form>
{% endblock %}