.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#game .flipped.matched {
  animation: winningAnimation 1s infinite;
}

.game-container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
  width: 80vw;
  height: 400px;
}

.game-container>div {
  border: 1px solid black;
  border-radius: 5px;
}

@keyframes winningAnimation {
  50% {
    transform: scale(1.1);
  }
}