{% extends "base.html" %}

{% block title %}{{ user.get_full_name() }}{% endblock %}

{% block content %}
<h1>{{ user.get_full_name() }}</h1>
<img src="{{ user.image_url }}" alt="Profile Image" class="img-thumbnail">
<a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn btn-primary">Edit</a>
<form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<h2>Posts</h2>
<ul>
    {% for post in posts %}
    <li><a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
<a href="{{ url_for('add_post', user_id=user.id) }}" class="btn btn-primary">Add Post</a>
{% endblock %}
